html {
  overflow-y: scroll;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

a {
  color: black;
  text-decoration: underline;
  text-decoration-color: blue;
}

.line {
  width: 20%;
  opacity: 0.3;
  color: blue;
}

.card {
  border: none;
}
